.btn{
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
