.header {
    top: 0;
    position: fixed;
    background-color: transparent;
    transition: 0.4s all ease;
    width: 100%;
}

.logo{
    height: 2.5rem;
    padding: 0.5rem 1rem;
}

.header.active {
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
    background-color: #ffff66;
    transition: 0.4s all ease;
}

h1 {
    margin: 0;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
}
